.content_container{
  width: 100%;
  height: 100%;
}

.content_topbar{
  height: 64px;
  display: flex;
  background-color: black;
}

.content_topbar_dashboard{
  height: 100%;
  flex-basis: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  flex-shrink: 0;
}

.content_topbar_dashboard:hover{
  background-color: gray;
}

#dashboard{
  color: white;
  font-size: 22px;
}

.content_topbar_lectureName{
  color: white;
  display: flex;
  align-items: center;
  margin-left: 24px;
}

.content_video{
  height: calc(100vh - 129px)
}

.content_footer{
  background-color: black;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content_footer_container{
  display: flex;

}

.content_footer_button{
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.content_footer_button:hover{
  color: yellow;
}

.prev_button{
  margin-right: 15px;
}

.next_button{
  margin-left: 15px;
}